#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: #c2c2d6;
}

.calculator {
  width: 320px;
  padding: 5px;
  background-color: black;
}

.outputScreen {
  font-family: digital;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 15px;
  color: white;
  text-align: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.formulaScreen {
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  /* vertical-align: text-top; */
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
